[build]
builder = "dockerfile"
dockerfile = "Dockerfile.16"

[phases.setup]
aptPkgs = ["openssl", "wget", "postgresql"]

[phases.build]
cmds = ["chmod +x init-ssl.sh", "./init-ssl.sh"]

[start]
cmd = ["chmod +x /usr/local/bin/wrapper.sh", "./wrapper.sh"]

[variables]
PGDATA = "/var/lib/postgresql/data"
PGUSER = "postgres"
PGPASSWORD = "MTHccZteMckHfwTpDznkBpSinpnxcLIo"
PGDATABASE = "railway"
PGPORT = "5432"
SSL_CERT_DAYS = "820"
