[setup]
aptPkgs = ["openssl", "wget", "postgresql"]

[build]
builder = "dockerfile"
dockerfile = "Dockerfile.16"

[start]
runImage = "docker.io/library/postgres:16"

[variables]
PGDATA = "/var/lib/postgresql/data"
PGUSER = "postgres"
PGPASSWORD = "MTHccZteMckHfwTpDznkBpSinpnxcLIo"
PGDATABASE = "railway"
PGPORT = "5432"
SSL_CERT_DAYS = "820"
